VITE_SUPABASE_URL=sb_publishable_TUtuVuq0jFLJBQi8aGowRQ_vUX8q_8W
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR6em5ybWRod3BhZ3phcXZqcHhwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY5NTgwNjAsImV4cCI6MjA5MjUzNDA2MH0.nhok3Jh2dmT2mPYgSwC_mOe70HoIo8i0mIqBq8-nBuQ
